/*  Seccion 1  */
.astros-head h3{
	text-transform: uppercase;
	color: #A22283;
	font-weight: 700;
	font-size: 1.6em;
	margin: 0;
}
.astros-head p{
	color: #979996;
	font-size: 0.875em;
	margin-left: 40px;
	line-height: 1.8em;
}
.astros-head-2 p{
	color: #979996;
	font-size: 0.875em;
	line-height: 1.8em;
	margin-top: 10%;
}
.astros-box-main{
	padding: 1.5em 0 3em 0;
}

/*  Seccion 2  */


/*  Seccion 3  */
.seccion-3 h3{
	text-transform: uppercase;
	color: #382818;
	font-weight: 700;
	font-size: 2em;
    margin: 0;
    text-align: center;
}
.seccion-3 .sin-padding{
	padding: 0;
	margin-bottom: 14%;
}
.seccion-3 h3 span{
	color: #FFF;
}
.seccion-3 .sin-padding div p.title{
    color: #FFF;
    font-size: 1em;
    text-transform: uppercase;
    line-height: 1.8em;
    margin-bottom: 0;
    text-align: center;
}
.seccion-3 p.title span,.seccion-3 p.title2 span{
	font-weight: 700;
}
.seccion-3 p.title2{
    color: #FFF;
    font-size: 1em;
    margin-left: 5%;
    text-transform: uppercase;
    line-height: 1.8em;
    margin-bottom: 0;
    margin-top: 5%;
}
p.parrafo {
    font-size: 0.8em;
    margin-left: 5%;
    margin-top: 1%;
    color:#FFF;
}

/*  Seccion 5  */
.seccion-5 h3{
	text-transform: uppercase;
	color: #FFF;
	font-weight: 700;
	font-size: 2em;
    margin: 0;
    text-align: center;
}
.seccion-5 .sin-padding{
	padding: 0;
}
.seccion-5 p.title2 span{
	font-weight: 700;
}
.seccion-5 p.title2{
    color: #FFF;
    font-size: 1em;
    margin-left: 5%;
    text-transform: uppercase;
    line-height: 1.8em;
    margin-bottom: 0;
    margin-top: 5%;
}
.seccion-5 p.parrafo {
    color: #FFF;
}

/*  Seccion 6  */
.seccion-6 .sin-padding{
	padding: 0;
	margin-bottom: 14%;
}
.seccion-6 .sin-padding div p.title{
    color: #FFF;
    font-size: 1em;
    text-transform: uppercase;
    line-height: 1.8em;
    margin-bottom: 0;
    text-align: center;
}
.seccion-6 p.title span,.seccion-6 p.title2 span{
	font-weight: 700;
}
.seccion-6 p.title2{
    color: #FFF;
    font-size: 1em;
    margin-left: 5%;
    text-transform: uppercase;
    line-height: 1.8em;
    margin-bottom: 0;
    margin-top: 5%;
}
.seccion-6 p.parrafo {
    font-size: 0.8em;
    margin-left: 5%;
    margin-top: 1%;
    color:#FFF;
}

/*  Seccion 7  */
.seccion-7 .sin-padding{
	padding: 0;
	margin-bottom: 14%;
}
.seccion-7  p.parrafo1,.seccion-7  p.parrafo2,.seccion-7  p.parrafo3 {
    font-size: 2em;
    margin-left: 12%;
    margin-bottom: 0px;
    color: #FFF;
    font-weight: 700;
    text-transform: uppercase;
}

/* Animaciones */
.seccion-2{
	animation-delay:2s;
}
.seccion-3{
	animation-delay:3s;
}
.seccion-3 div.titulo{
    animation-delay: 4s;    
}
.seccion-3 p.title2{
    animation-delay: 4s;    
}
.seccion-3 p.parrafo{
    animation-delay: 4s;    
}
.seccion-4{
	animation-delay: 5s; 	
}
.seccion-5{
	animation-delay:6s;
}
.seccion-5 p.title2{
    animation-delay: 7s;    
}
.seccion-5 p.parrafo{
    animation-delay: 7s;    
}
.seccion-6{
	animation-delay:8s;
}
.seccion-6 p.title2{
    animation-delay: 9s;    
}
.seccion-6 p.parrafo{
    animation-delay: 9s;    
}
.seccion-7{
	animation-delay:10s;
}
.seccion-7 p.parrafo1{
    animation-delay: 10.5s;    
}
.seccion-7 p.parrafo2{
    animation-delay: 10.5s;    
}
.seccion-7 p.parrafo3{
    animation-delay: 10.5s;    
}

/*  Responsive  */
@media (max-width:480px){
	.gamers-head h3{
		font-size: 1.3em;
	 }
}
@media (max-width:320px){
	.gamers-head p {
		font-size: 0.8125em;
	}
	.gamers-head p {
		font-size: 0.8125em;
	}
}
@media (min-width: 450px) and (max-width: 900px){
	.seccion-2{
	    content: url(../images/astros-seccion-2-bg-900x600.jpg);
	}
	.seccion-3{
		background-color: #010101;
	}
	.seccion-3-2{
		content: url(../images/astros-seccion-3-bg-900x600.jpg);
	}
	.seccion-4{
	    content: url(../images/astros-seccion-4-bg-900x600.jpg);
	}
	.seccion-5{
		background-color: #A22185;
	}
	.seccion-5-2{
		content: url(../images/astros-seccion-5-bg-900x600.jpg);
	}
	.seccion-6{
		background-color: #A22185;
	}
	.seccion-6-2{
		content: url(../images/astros-seccion-6-bg-900x600.jpg);
	}		
	.seccion-7{
		background-color: #A22185;
	}
	.seccion-7-2{
		content: url(../images/astros-seccion-7-bg-900x600.jpg);
	}
	.seccion-7  p.parrafo1,.seccion-7  p.parrafo2,.seccion-7  p.parrafo3 {   
    	margin-left: 25%;    
	}		
}
@media (max-width: 449px) {
	.seccion-2{
	    content: url(../images/astros-seccion-2-bg-450x600.jpg);
	}
	.seccion-3{
		background-color: #010101;
	}
	.seccion-3-2{
		content: url(../images/astros-seccion-3-bg-450x600.jpg);
	}
	.seccion-4{
	    content: url(../images/astros-seccion-4-bg-450x600.jpg);
	}
	.seccion-5{
		background-color: #A22185;
	}
	.seccion-5-2{
		content: url(../images/astros-seccion-5-bg-450x600.jpg);
	}
	.seccion-6{
		background-color: #A22185;
	}
	.seccion-6-2{
		content: url(../images/astros-seccion-6-bg-450x600.jpg);
	}
	.seccion-7{
		background-color: #A22185;
	}
	.seccion-7-2{
		content: url(../images/astros-seccion-7-bg-450x600.jpg);
	}			
}
@media (min-width: 901px) {
	.seccion-3{
	    padding: 5% 0;
	    background: url(../images/astros-seccion-3-bg-2000x700.jpg) no-repeat 0px 0px;
	    background-size: 100% 100%;
	}
	.seccion-3-2{
		display: none;
	}	
	.seccion-5{
	    padding: 12% 0;
	    background: url(../images/astros-seccion-5-bg-2000x790.jpg) no-repeat 0px 0px;
	    background-size: 100% 100%;
	}
	.seccion-5-2{
		display: none;
	}
	.seccion-6{
	    padding: 5% 0;
	    background: url(../images/astros-seccion-6-bg-2000x700.jpg) no-repeat 0px 0px;
	    background-size: 100% 100%;
	}
	.seccion-6-2{
		display: none;
	}	
	.seccion-7{
	    padding: 10% 0;
	    background: url(../images/astros-seccion-7-bg-2000x790.jpg) no-repeat 0px 0px;
	    background-size: 100% 100%;
	}
	.seccion-7-2{
		display: none;
	}
}
@media (max-width: 900px) {
	.seccion-3 .col-xs-2{
		width: 8.33333%;
	}
	.seccion-3 .col-xs-4{
		width: 83.33333%;
	}
	.seccion-3 .col-xs-6{
		width: 8.33333%;
	}
	.seccion-3 .col-md-2{
		width: 8.33333%;
	}
	.seccion-3 .col-md-4{
		width: 83.33333%;
	}
	.seccion-3 .col-md-6{
		width: 8.33333%;
	}
	.seccion-3 .sin-padding {
        margin-bottom: 2%;
        margin-top: 5%;
	}
	.seccion-3 .col-md-12{
		padding-right:0; 
		padding-left:0;
	}
	.seccion-3 .col-xs-12{
		padding-right:0; 
		padding-left:0;
	}	
	.seccion-5 .col-md-2{
		width: 8.33333%;
	}
	.seccion-5 .col-md-4{
		width: 83.33333%;
	}
	.seccion-5 .col-md-6{
		width: 8.33333%;
	}	
	.seccion-5 .col-xs-2{
		width: 8.33333%;
	}
	.seccion-5 .col-xs-4{
		width: 83.33333%;
	}
	.seccion-5 .col-xs-6{
		width: 8.33333%;
	}
	.seccion-5 .sin-padding {
        margin-bottom: 2%;
        margin-top: 5%;
	}
	.seccion-5 .col-md-12{
		padding-right:0; 
		padding-left:0;
	}
	.seccion-5 .col-xs-12{
		padding-right:0; 
		padding-left:0;
	}	
	.seccion-6 .col-xs-7{
		width: 8.33333%;
	}
	.seccion-6 .col-xs-4{
		width: 83.33333%;
	}
	.seccion-6 .col-xs-1{
		width: 8.33333%;
	}
	.seccion-6 .col-md-7{
		width: 8.33333%;
	}
	.seccion-6 .col-md-4{
		width: 83.33333%;
	}
	.seccion-6 .col-md-1{
		width: 8.33333%;
	}
	.seccion-6 .sin-padding {
        margin-bottom: 2%;
        margin-top: 5%;
	}
	.seccion-6 .col-md-12{
		padding-right:0; 
		padding-left:0;
	}
	.seccion-6 .col-xs-12{
		padding-right:0; 
		padding-left:0;
	}	
	.seccion-7 .col-xs-2{
		width: 8.33333%;
	}
	.seccion-7 .col-xs-6{
		width: 83.33333%;
	}
	.seccion-7 .col-xs-4{
		width: 8.33333%;
	}
	.seccion-7 .col-md-2{
		width: 8.33333%;
	}
	.seccion-7 .col-md-6{
		width: 83.33333%;
	}
	.seccion-7 .col-md-4{
		width: 8.33333%;
	}
	.seccion-7 .sin-padding {
        margin-bottom: 2%;
        margin-top: 5%;
	}
	.seccion-7 .col-md-12{
		padding-right:0; 
		padding-left:0;
	}
	.seccion-7 .col-xs-12{
		padding-right:0; 
		padding-left:0;
	}	
}
@media (max-width: 700px){
	.seccion-3 {
	    padding: 0;
	}
	.seccion-6 {
	    padding: 0;
	}	
	.seccion-7 {
	    padding: 0;
	}
}
