/*  Seccion 1  */
.brindis-head h3{
	text-transform: uppercase;
	color: #8ab235;
	font-weight: 700;
	font-size: 1.6em;
	margin: 0;
}
.brindis-head p{
	color: #979996;
	font-size: 0.875em;
	line-height: 1.8em;
}
.brindis-head-2 p{
	color: #979996;
	font-size: 0.875em;
	line-height: 1.8em;
}
.brindis-box-main{
	padding: 1.5em 0 2em 0;
}

/*  Seccion 2  */


/*  Seccion 3  */
.seccion-3 h3{
	text-transform: uppercase;
	color: #000;
	font-weight: 700;
	font-size: 2em;
    margin: 0;
    text-align: center;
}
.seccion-3 .sin-padding{
	padding: 0;
	margin-bottom: 10%;
}
.seccion-3 h3 span{
	color: #000;
}
.seccion-3 .sin-padding div p.title{
    color: #000;
    font-size: 1em;
    text-transform: uppercase;
    line-height: 1.8em;
    margin-bottom: 0;
    text-align: center;
}
.seccion-3 p.title span,.seccion-3 p.title2 span{
	font-weight: 700;
}
.seccion-3 p.title2{
    color: #000;
    font-size: 1em;
    margin-left: 5%;
    text-transform: uppercase;
    line-height: 1.8em;
    margin-bottom: 0;
    margin-top: 5%;
}
p.parrafo {
    font-size: 0.8em;
    margin-left: 5%;
    margin-top: 1%;
}

/*  Seccion 4  */
.seccion-4{
	background-color: #000;
}
.seccion-4 h3{
	text-transform: uppercase;
	color: #FFF;
	font-weight: 700;
	font-size: 2em;
    margin: 0;
    text-align: center;
}
.seccion-4 .sin-padding{
	padding: 0;
	margin-top: -12%;
}
.seccion-4 h3 span{
	color: #FFF;
}
.seccion-4 .sin-padding div p.title{
    color: #FFF;
    font-size: 1em;
    line-height: 1.8em;
    margin-bottom: 0;
    text-align: center;
}
.seccion-4 p.title span,.seccion-4 p.title2 span{
	font-weight: 700;
}
.seccion-4 p.title2{
    color: #FFF;
    font-size: 1em;
    margin-left: 5%;
    text-transform: uppercase;
    line-height: 1.8em;
    margin-bottom: 0;
    margin-top: 5%;
}
.seccion-4 p.parrafo {
    color: #FFF;
}

/*  Seccion 5  */
.seccion-5 .col-md-12{
	padding-right: 0;
    padding-left: 0;
}

/* Animaciones */
.seccion-3{
	animation-delay:2s;
}
.seccion-3 div.titulo{
    animation-delay: 3s;    
}
.seccion-3 p.title2{
    animation-delay: 3s;    
}
.seccion-3 p.parrafo{
    animation-delay: 3s;    
}
.seccion-4{
	animation-delay:2.5s;
}
.seccion-4 div.titulo{
    animation-delay: 3.5s;    
}
.seccion-4 p.title2{
    animation-delay: 3.5s;    
}
.seccion-4 p.parrafo{
    animation-delay: 3.5s;    
}
.seccion-5{
	animation-delay:5s;
}


/*  Responsive  */
@media (min-width: 1030px){
	.brindis-head h3{
		margin-left: 12%;
	}
	.brindis-head p{
		margin-left: 12%;
	}
}
@media (min-width: 986px) and (max-width: 1030px){
	.brindis-head h3{
		margin-left: 7%;
	}
	.brindis-head p{
		margin-left: 7%;
	}
}
@media (min-width: 450px) and (max-width: 900px){
	.seccion-2{
	    padding: 25% 0;
	    background: url(../images/brindis-seccion-2-bg-900x600.jpg) no-repeat 0px 0px;
	    background-size: 100% 100%;
	}
	.seccion-3{
		background:none;
		padding: 0;
	}
	.seccion-3-2{
		padding: 18% 0;
	    background: url(../images/brindis-seccion-3-bg-900x600.jpg) no-repeat 0px 0px;
	    background-size: 100% 100%;
	}
	.seccion-4 .sin-padding{
    	margin: 1% 0 3% 0;
	}
	.seccion-4-2-2{
	    padding: 20% 0;
	    background: url(../images/brindis-seccion-4-bg-2-900x600.jpg) no-repeat 0px 0px;
	    background-size: 100% 100%;
	}
	.seccion-4-1{
	    padding: 15% 0;
	    background: url(../images/brindis-seccion-4-bg-1-900x600.jpg) no-repeat 0px 0px;
	    background-size: 100% 100%;
	}
	.seccion-4-2{
	    padding: 0;
	    background: none;
	}
	.seccion-5{
	    padding: 24% 0;
	    background: url(../images/brindis-seccion-5-bg-900x600.jpg) no-repeat 0px 0px;
	    background-size: 100% 100%;
	}
}
@media (max-width: 449px) {
	.seccion-2{
	    padding: 65% 0;
	    background: url(../images/brindis-seccion-2-bg-450x600.jpg) no-repeat 0px 0px;
	    background-size: 100% 100%;
	}
	.seccion-3{
		background:none;
		padding: 0;
	}
	.seccion-3-2{
	    padding: 71% 0;
	    background: url(../images/brindis-seccion-3-bg-450x600.jpg) no-repeat 0px 0px;
	    background-size: 100% 100%;
	}
	.seccion-4 .sin-padding{
    	margin: 1% 0 3% 0;
	}
	.seccion-4-2-2{
	    padding: 40% 0;
	    background: url(../images/brindis-seccion-4-bg-2-450x600.jpg) no-repeat 0px 0px;
	    background-size: 100% 100%;
	}
	.seccion-4-1{
	    padding: 50% 0;
	    background: url(../images/brindis-seccion-4-bg-1-450x600.jpg) no-repeat 0px 0px;
	    background-size: 100% 100%;
	}	
	.seccion-5{
	    padding: 50% 0;
	    background: url(../images/brindis-seccion-5-bg-450x600.jpg) no-repeat 0px 0px;
	    background-size: 100% 100%;
	}
}
@media (min-width: 901px) {
	.seccion-2{
	    padding: 14% 0;
	    background: url(../images/brindis-seccion-2-bg-2000x589.jpg) no-repeat 0px 0px;
	    background-size: 100% 100%;
	}
	.seccion-3{
	    padding: 5% 0;
	    background: url(../images/brindis-seccion-3-bg-2000x700.jpg) no-repeat 0px 0px;
	    background-size: 100% 100%;
	}
	.seccion-4-1{
	    padding: 12% 0;
	    background: url(../images/brindis-seccion-4-bg-1-2000x700.jpg) no-repeat 0px 0px;
	    background-size: 100% 100%;
	}
	.seccion-4-2{
	    padding: 18% 0;
	    background: url(../images/brindis-seccion-4-bg-2-2000x728.jpg) no-repeat 0px 0px;
	    background-size: 100% 100%;
	}
	.seccion-5{
	    padding: 18% 0;
	    background: url(../images/brindis-seccion-5-bg-2000x790.jpg) no-repeat 0px 0px;
	    background-size: 100% 100%;
	}
}	
@media (max-width: 970px) {
	.brindis-head {
		text-align: center;
	}
}
@media (max-width: 900px) {
	.seccion-3 .col-xs-2{
		width: 8.33333%;
	}
	.seccion-3 .col-xs-4{
		width: 83.33333%;
	}
	.seccion-3 .col-xs-6{
		width: 8.33333%;
	}
	.seccion-3 .col-md-2{
		width: 8.33333%;
	}
	.seccion-3 .col-md-4{
		width: 83.33333%;
	}
	.seccion-3 .col-md-6{
		width: 8.33333%;
	}
	.seccion-3 .sin-padding {
        margin-bottom: 2%;
        margin-top: 5%;
	}
	.seccion-4 .col-xs-1{
		width: 8.33333%;
	}
	.seccion-4 .col-xs-4{
		width: 83.33333%;
	}
	.seccion-4 .col-xs-7{
		width: 8.33333%;
	}
}

@media (max-width: 700px){
	.seccion-3 {
	    padding: 0;
	}
}
@media (max-width:480px){
	.brindis-head h3{
		font-size: 1.3em;
	 }
}
@media (max-width:320px){
	.brindis-head p {
		font-size: 0.8125em;
	}
	.brindis-head p {
		font-size: 0.8125em;
	}
}
